/* Estilo básico (desktop) */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Layout básico para dispositivos maiores (desktops) */
@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
}

/* Layout para tablets */
@media (max-width: 1199px) and (min-width: 768px) {
  .container {
    width: 90%;
  }
  h1 {
    font-size: 2rem;
  }
}

/* Layout para smartphones */
@media (max-width: 767px) {
  body {
    
    padding: 10px;
  }

  .container {
    width: 100%;
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 1rem;
    width: 100%;
  }
}

    /* Estilos específicos para a tabela */
    .table-responsive {
      overflow-x: auto;
    }
    .observacao-cell {
      max-width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .observacao-cell:hover {
      white-space: normal;
      overflow: visible;
      position: relative;
      z-index: 100;
      background-color: white;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    .action-buttons {
      white-space: nowrap;
    }

    /* upload_em_massa */

      .main-content {
      margin-left: 250px;  /* Largura do menu */
      padding: 20px 20px 20px 10px;  /* Reduzi o padding-left */
      width: calc(100% - 250px);
      transition: all 0.3s;  /* Suave transição */
    }

    /* Ajuste para telas menores */
    @media (max-width: 992px) {
      .main-content {
        margin-left: 0;
        padding: 15px;
        width: 100%;
      }
    }

    /* Ajuste fino no container */
    .container-fluid {
      padding-left: 5px;  /* Reduz o espaço interno */
      max-width: 98%;     /* Utiliza mais espaço */
    }

    /* Card mais compacto */
    .card {
      margin-bottom: 0;
      border-radius: 8px;
    }

    /* Formulário mais compacto */
    .card-body {
      padding: 1.25rem;
    }

    
